* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	background-color: #f3f3f3;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

.container {
	margin: auto;
	max-width: 800px;
	width: 90%;
}

/* Header */
.container header {
	padding: 40px 0;
}

.container header .logo {
	margin-bottom: 40px;
	text-align: center;
}

.container header .logo p {
	color: #9b9b9b;
}

.container header form {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	width: 100%;
}

.container header form .bar-search {
	background-color: #ffffff;
	border-radius: 100px;
	border-style: none;
	font-size: 1rem;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	text-align: center;
	width: 70%;
}

.container header .categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container header .categories a {
	color: #9b9b9b;
	font: 700 18px 'Open Sans', sans-serif;
	margin: 10px 20px;
}

.container header .categories a.active {
	color: #000000;
}

/* Grid */
.grid {
	opacity: 0;
	position: relative;
	transition: opacity 0.5s 1s linear;
	width: 100%;	
}

.grid.images-loaded {
	opacity: 1;
}

.grid .item {
	left: 0;
	position: absolute;
	margin: 10px;
	top: 0;
	width: calc(33.33% - 20px);
}

.grid .item .item-content {
	position: relative;
}

.grid .item .item-content img {
	cursor: pointer;
	vertical-align: top;
	width: 100%;
}

/* Popup */
.overlay {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.9);
	bottom: 0;
	display: none;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
}

.overlay.active {
	display: flex;
}

.overlay .container-popup {
	position: relative;
}

.overlay .container-popup #close-popup {
	background-color: rgba(0, 0, 0, 0);
	border-style: none;
	bottom: 100%;
	color: #ffffff;
	cursor: pointer;
	font-size: 20px;
	left: 100%;
	position: absolute;
}

.overlay .container-popup img {
	max-width: 100%;
}

.overlay .description {
	background-color: #ffffff;
	border-radius: 10px;
	display: block;
	margin-top: 5px;
	max-width: 50%;
	padding: 20px;
	text-align: center;
}

/* Footer */
footer .social-media {
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}

footer .social-media .ctn-icon:hover a,
footer .social-media .ctn-icon:focus a,
footer .social-media .ctn-icon:active a {
	transform: rotate3d(0, 1, 0, 1turn);
}

footer .social-media .ctn-icon a {
	background-color: #000000;
	border-radius: 100px;
	color: #ffffff;
	display: block;
	height: 60px;
	margin: 20px;
	text-align: center;
	transition: transform 0.5s ease;
	width: 60px;
}

footer .social-media .ctn-icon a.twitter {
	background-color: #1da1f2;
}

footer .social-media .ctn-icon a.facebook {
	background-color: #3b5998;
}

footer .social-media .ctn-icon a.instagram {
	background-color: #c13584;
}

footer .social-media .ctn-icon a i {
	font-size: 20px;
	line-height: 60px;
}

footer .copyright {
	color: #c13584;
	font-size: 14px;
	margin-bottom: 20px;
	text-align: center;
}

footer .copyright p a {
	color: #000000;
	font-weight: 700;
}

/* Mediaqueries */
@media screen and (max-width: 768px) {
	.container header form .bar-search {
		width: 100%;
	}
	
	.grid .item {
		width: calc(50% - 20px);
	}
}

@media screen and (max-width: 500px) {
	.grid .item {
		width: calc(100% - 20px);
	}
	
	.overlay .container-popup {
		max-width: 85%;
	}
}