<div class="menu-container"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
	<div class="custom-padding">
		<nav class="menuNav">
			<div class="logo"><a href="/">SPRINGIO</a></div>

			<ul>
				<li><a href="#">New Arrivals</a>
					<div class="submenu">
						<ul>
							<li><a th:href="@{|/productlist|}">All New Arrivals</a></li>
							<li><a th:href="@{|/productbytype?cType=Clothes|}">Clothing</a></li>
							<li><a th:href="@{|/productbytype?cType=Bags|}">Bags</a></li>
						</ul>
						<ul>
							<li><a th:href="@{|/productbytype?cType=Shoes|}">Shoes</a></li>
							<li><a th:href="@{|/productbytype?cType=Accessories|}">Accessories</a></li>
							<li><a href="#"></a></li>
						</ul>
					</div></li>
				<li><a href="#">Clothing</a>
					<div class="submenu">
						<ul>
							<li><a th:href="@{|/productbytype?cType=Clothes|}">All Clothing</a></li>
							<li><a th:href="@{|/productbytype?sType=Dresses|}">Dresses</a></li>
							<li><a th:href="@{|/productbytype?sType=Tops|}">Top</a></li>
						</ul>
						<ul>
							<li><a th:href="@{|/productbytype?sType=Outerwear|}">Outerwear</a></li>
							<li><a th:href="@{|/productbytype?sType=Bottoms|}">Bottoms</a></li>
							<li><a th:href="@{|/productbytype?sType=Swim|}">Swim</a></li>
						</ul>
					</div></li>
				<li><a href="#">Bags</a>
					<div class="submenu">
						<ul>
							<li><a th:href="@{|/productbytype?cType=Bags|}">All Bags</a></li>
							<li><a th:href="@{|/productbytype?sType=Shoulder|}">Shoulder Bags</a></li>
							<li><a th:href="@{|/productbytype?sType=Backpacks|}">Backpacks</a></li>
						</ul>
						<ul>
							<li><a th:href="@{|/productbytype?sType=Crossbody|}">Cross Body Bags</a></li>
							<li><a th:href="@{|/productbytype?sType=Totes|}">Totes</a></li>
							<li><a th:href="@{|/productbytype?sType=Crutches|}">Crutches</a></li>
						</ul>
					</div></li>
				<li><a href="#">Shoes</a>
					<div class="submenu">
						<ul>
							<li><a th:href="@{|/productbytype?cType=Shoes|}">All Shoes</a></li>
							<li><a th:href="@{|/productbytype?sType=Sneakers|}">Sneakers</a></li>
						</ul>
						<ul>
							<li><a th:href="@{|/productbytype?sType=Sandals|}">Sandals</a></li>
							<li><a th:href="@{|/productbytype?sType=Flats|}">Flats</a></li>
						</ul>
					</div></li>
				<li><a href="#">Accessories</a>
					<div class="submenu">
						<ul>
							<li><a th:href="@{|/productbytype?cType=Accessories|}">All Accessories</a></li>
							<li><a th:href="@{|/productbytype?sType=Watches|}">Watches</a></li>
						</ul>
						<ul>
							<li><a th:href="@{|/productbytype?sType=Wallets|}">Wallets</a></li>
							<li><a th:href="@{|/productbytype?sType=Belts|}">Belts</a></li>
						</ul>
						<ul>
							<li><a th:href="@{|/productbytype?sType=Jewelry|}">Jewelry</a></li>
							<li><a th:href="@{|/productbytype?sType=Sunglasses|}">Sunglasses</a></li>
						</ul>
					</div></li>
			</ul>
		</nav>
		
	</div>



</div>