<div class="menu-container"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
	<div class="custom-padding">
		<nav class="menuNav">
			<div class="logo"><a href="/">SPRINGIO</a></div>

			<ul>
				<li><a href="#">New Arrivals</a>
					<div class="submenu">
						<ul>
							<li><a href="#">All New Arrivals</a></li>
							<li><a href="#">Clothing</a></li>
							<li><a href="#">Bags</a></li>
						</ul>
						<ul>
							<li><a href="#">Shoes</a></li>
							<li><a href="#">Accessories</a></li>
							<li><a href="#"></a></li>
						</ul>
					</div></li>
				<li><a href="#">Clothing</a>
					<div class="submenu">
						<ul>
							<li><a href="#">All Clothing</a></li>
							<li><a href="#">Dresses</a></li>
							<li><a href="#">Top</a></li>
						</ul>
						<ul>
							<li><a href="#">Outerwears</a></li>
							<li><a href="#">Bottoms</a></li>
							<li><a href="#">Swim</a></li>
						</ul>
					</div></li>
				<li><a href="#">Bags</a>
					<div class="submenu">
						<ul>
							<li><a href="#">All Bags</a></li>
							<li><a href="#">Shoulder Bags</a></li>
							<li><a href="#">Backpacks</a></li>
						</ul>
						<ul>
							<li><a href="#">Cross Body Bags</a></li>
							<li><a href="#">Totes</a></li>
							<li><a href="#">Crutches</a></li>
						</ul>
					</div></li>
				<li><a href="#">Shoes</a>
					<div class="submenu">
						<ul>
							<li><a href="#">All Shoes</a></li>
							<li><a href="#">Sneakers</a></li>
						</ul>
						<ul>
							<li><a href="#">Sandals</a></li>
							<li><a href="#">Flats</a></li>
						</ul>
					</div></li>
				<li><a href="#">Accessories</a>
					<div class="submenu">
						<ul>
							<li><a href="#">All Accessories</a></li>
							<li><a href="#">Watches</a></li>
						</ul>
						<ul>
							<li><a href="#">Wallets</a></li>
							<li><a href="#">Belts</a></li>
						</ul>
						<ul>
							<li><a href="#">Jewery</a></li>
							<li><a href="#">SungGlasses</a></li>
						</ul>
					</div></li>
			</ul>
		</nav>
	</div>



</div>