
<div class="menu-container"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
	<ul class="menu-toparea">
	    <th:block sec:authorize="isAuthenticated()">
	    <li><a th:href="@{/accountInfo}" th:utext="${#request.userPrincipal.principal.name}"> Hello</a></li>
	    <li><a th:href="@{/logout}">Log Out</a></li>
	    </th:block>
		<th:block sec:authorize="!isAuthenticated()">
		<li><a th:href="@{/login}">Login</a></li>
		</th:block>
			<li style = " float: right;"><a th:href="@{/cart}"><i class="fa fa-shopping-cart fa-2x"><b style = "font-size : 15px;"></b></i></a></li>
		<th:block sec:authorize="!isAuthenticated()">
		<li><a th:href="@{/registration}">Sign up</a></li>
		</th:block>
		<th:block sec:authorize="isAuthenticated()">
			<li style = " float: right;"><a th:href="@{/cart}"><i class="fa fa-bell-o fa-2x"><b style = "font-size : 15px;"></b></i></a></li>
			<li style = " float: right;"><a th:href="@{/cart}"><i class="fa fa fa-envelope-o fa-2x"><b style = "font-size : 15px;"></b></i></a></li>
			<li style = "float : right;"><a th:href="@{/item_success}">My Products</a></li>
		</th:block>
		<li><a href="#contact">Contact</a></li>
		<li><a href="#contact"></a></li>
		<li><a href="#contact"></a></li>
		<li><a href="#contact"></a></li>
		<li style = "width : 400px; text-align : center;">
		<form autocomplete="off" th:action="@{/searchItem}">
			<div class="search">
				<input id="searchTerm" type="text" name="searchTerm" class="searchTerm"
					placeholder="What are you looking for?">
				<button type="submit" class="searchButton">
					<i class="fa fa-search"></i>
				</button>
			</div>
		</form>	
		</li>
		
		<li style = "float : right;"><a th:href="@{/uploadItem}">Start Selling</a></li>

	</ul>
</div>