<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/cart.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" />
<title>Order Confirmation</title>
<style>
.panel {
	padding: 20px;
	border-radius: 0;
	border: 1px solid black;
	max-width: 1200px;
	height: 8px;
	display: block;
	text-decoration: none;
}

.panel:hover {
	background-color: #FFF0E8;
}

.shopbutton {
	position: relative;
	bottom: 8px;
	font-weight: bold;
	color: black;
}

.col-50 {
float: left;
  width: 50%;
  padding: 10px;
}
.col-50 a {
  background-color: transparent;
  color: #777;
  float: none;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 15px;
}
.customerInfo{
padding: 0 1rem; text-align: left; font-size: 15px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-seri
display: table;
clear: both;
}

</style>
</head>

<body>
	<th:block th:include="/_topnav"></th:block>
	<th:block th:include="/_nav"></th:block>
	<div class = "main"  style = "width : 700px;">
	<div>
			<a class="panel" th:href="@{/productlist}"> <span
				class="shopbutton">Continue Shopping</span>

			</a>
		</div>
	</div>
	<br>
	<div class="main" style = "width : 700px;border-radius: 0;
	border: 1px solid #aaa; ">
		
		<th:block
			th:if="${cartForm != null && cartForm.cartItems != null && !cartForm.cartItems.empty}">
			<br>
			<h1
				style="padding: 0 1rem;; text-align: left; font-size: 30px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif;">
				YOUR ORDER CONFIRMATION</h1>
				<div class = "customerInfo">
					<table>
						<tr>
							<td>
								<b>Thank you for your purchase from </b>
							</td>
							<td style = "color : blue;">
								<a style = "color : blue; text-decoration: none;"th:href ="@{/}" ><b>springio.com</b></a>
							</td>
						</tr>
						<tr><td></td></tr>
						<tr>
							<td>
								Order Number:  
							</td>
							<td >
								<b  th:utext="${'#'+order_number}"></b>
							</td>
						</tr>
					    <tr>
							<td>
								Order Date:  
							</td>
							<td th:utext="${order_date}">
								
							</td>
						</tr>
						
					
					</table>
					<br>
					<b>Credit Card Reminder</b>
					<p>If your order includes backordered item or several different items, 
							or if you've requested delivery to multiple addresses, 
							your card will be charded when processing is complete for each item.
					</p>
					

				</div>
					
								
					<div class = "customerInfo">
					<h3>Shipping To</h3>
					<br>
						<table>
						<tr>
						<td th:text="${myCart.customerInfo.shippingAddress.name}"></td>
						</tr>
						<tr>
						<td th:text="${myCart.customerInfo.shippingAddress.address + '.'}"></td>
						</tr>
						<tr>
						<td  th:text="${ myCart.customerInfo.shippingAddress.city + ', ' +  myCart.customerInfo.shippingAddress.state + ' ' + myCart.customerInfo.shippingAddress.zipCode }">
						</td>
						</tr>
					
						<tr>
						<td>
							US
						</td>
						</tr>
					
						</table>
					
			   		</div>
					
			<div class="basket" style = " width : 100%;">
	
				<div class="basket-labels">
					<ul>
						<li class="item item-heading">Item</li>
						<li class="price">Price</li>
						<li class="quantity">Quantity</li>
						<li class="subtotal">Subtotal</li>
					</ul>
				</div>
				<div class="basket-product"
					th:each="cartItem : ${cartForm.cartItems}">
					<div class="item">
						<div class="product-image">
							<a th:href="@{|/item?itemcode=${cartItem.itemDetails.code}|}"> <img style = "width : 35%;"
								th:src="@{|/itemImage?code=${cartItem.itemDetails.code}|}"
								alt="Placholder Image 2" class="product-frame">
							</a>
					
						</div>
						<div class="product-details">
							<h1>
								<strong style="font-size :13px;" th:utext="${cartItem.itemDetails.name}"><span
									class="item-quantity" th:utext="${cartItem.quantity}"></span></strong>

							</h1>
							<p>
								<strong style="font-size :13px;"  th:utext="${cartItem.itemDetails.description}"></strong>
							</p>
							<p style="font-size :12px;"  th:utext="${'Product Code - ' + cartItem.itemDetails.code}">Product
								Code </p>
						</div>
					</div>
					<div class="price" style="font-size :13px;"  th:utext="${cartItem.itemDetails.price}"></div>
					<div class="quantity" style="font-size :13px;"  th:utext="${cartItem.quantity}">
						
					</div>
					<div class="subtotal" style="font-size :13px;" th:utext="${cartItem.amount}"></div>
				</div>

			</div>
						<div class="basket-product" style = "width : 35%;float : right; -webkit-box-sizing: border-box;
			  -moz-box-sizing: border-box;
			  box-sizing: border-box;">
					<div class="summary-subtotal">
						<div class="subtotal-title" th:utext="${'Subtotal (' + myCart.totalQuantity + ')'}">Subtotal</div>
						<div class="subtotal-value final-value" id="basket-subtotal"
							th:utext="${myCart.totalAmount}"></div>
							<!--using promo template for tax -->
							
							<div class="subtotal-title">Tax(5%) </div>
							<div style = "float :right;" class="subtotal-value final-value"  id="basket-promo" th:utext = "${ tax}"></div>
				
							<!-- <div class="summary-promo ">-->
						<th:block th:if="${promoCodeValue != null && promoCodeValue != '0.00'}" >	
						<div class="summary-promo">
							<div class="promo-title">Promotion </div>
							<div style = "float :right;" class="promo-value final-value" id="basket-promo" th:utext = "${'- $' + promoCodeValue}"></div>
						</div>
						</th:block>

							<div class="subtotal-title">Shipping </div>
							<div style = "float :right;" class="subtotal-value final-value" id="basket-promo" th:utext = "${ shippingFee}"></div>
		
					</div>
					<div class="summary-total">
						<div class="total-title">Total</div>
						<div class="total-value final-value" id="basket-total" th:utext="${total}"></div>
					</div>
					
	
				</div>
		
		</th:block>
	</div>
	

</body>

</html>