<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/homestyle.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />
<link rel="stylesheet" th:href="@{http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" />
<style>
.mySlides {
	display: none;
}
.linkbutton {
  display: block;
  width: $width;
  height: $height;
  z-index: 1;
  text-decoration: none;
}


</style>
</head>
<body>
	<th:block th:include="/_topnav"></th:block>
	<th:block th:include="/_nav"></th:block>
	<div class="main">
		<div class="grid" style="max-width: 1200px; margin-top: 35px">
			<div class="row">
				<a th:href="@{/productlist}"> <img
					class="mySlides"
					src="https://cdn.pixabay.com/photo/2018/04/18/06/14/tram-3329586_960_720.jpg"
					alt=""
					style="width: 70%; height: 450px; margin-left: auto; margin-right: auto;" />
					<img class="mySlides"
					src="https://images.pexels.com/photos/212236/pexels-photo-212236.jpeg"
					alt=""
					style="width: 70%; height: 450px; margin-left: auto; margin-right: auto;" />
					<img class="mySlides"
					src="https://images.pexels.com/photos/313707/pexels-photo-313707.jpeg"
					alt=""
					style="width: 70%; height: 450px; margin-left: auto; margin-right: auto;" />
				</a>

			</div>
			<div class = "row">
					<div class = "column" >
					</div>
					<div class="column" >
					
						<p style = " font-family: Arial, Helvetica, sans-serif;">"Sell what’s in your closet today to buy what you crave
							tomorrow"</p>
						<a class = "linkbutton" style=" color:#F75454;    -webkit-font-smoothing: antialiased;" th:href="@{/uploadItem}"><i class="fa fa-dollar fa-1x" aria-hidden="true"></i>Start Selling</a>
					</div>
					<div class="column" >
				
						<p style = " font-family: Arial, Helvetica, sans-serif;">Your personal style, your way !</p>
						<p style = " font-family: Arial, Helvetica, sans-serif;"> Shop in the name of love</p>
							
						<a class = "linkbutton" style=" color: #F75454;     -webkit-font-smoothing: antialiased;" th:href="@{/productlist}"><i class="fa fa-shopping-bag fa-1x" aria-hidden="true"></i> Start
							Shopping </a>
					</div>
					<div class = "column" ></div>
				
			</div>
			<div class="row"> 
				<div class="column" style = "width : 50%;">
					<div class="content">
					<a th:href="@{/productlist}">
						<img
							src="https://item1.tradesy.com/images/homepage/b182c483-26fa-dd4d-f85b-c8c8981c60bc_DesignerSneakersDesktop1x.jpg"
							alt="Mountains" style="width: 100%"></a>
						<div class="card-block">
						<h4 class="card-title"></h4>
							<p class="card-text"></p>
						</div>
					</div>
				</div>
				<div class="column" style = "width : 50%;">
					<div class="content">
					<a th:href="@{/productlist}">
						<img
							src="https://item1.tradesy.com/images/homepage/385027d4-91bc-f05d-9ec3-89daf1ce37be_Desktop_1x.jpg"
							alt="Mountains" style="width: 100%"></a>
						<div class="card-block">
					<h4 class="card-title"></h4>
							<p class="card-text"></p>
						</div>
					</div>
				</div>
				<div class="column" style = "width : 50%;">
					<div class="content">
					<a th:href="@{/productlist}">
						<img
							src="https://item1.tradesy.com/images/homepage/528eb904-2d67-7293-2cb1-72e2459fc5ca_EditorsPicksDesktop1x.jpg"
							alt="Mountains" style="width: 100%"></a>
						<div class="card-block">
							<h4 class="card-title"></h4>
							<p class="card-text"></p>
						</div>
					</div>
				</div>
				<div class="column" style = "width : 50%;">
					<div class="content">
					<a th:href="@{/productlist}">
						<img
							src="https://item1.tradesy.com/images/homepage/03168406-1fa8-ab54-e935-6b67b152dad4_EditorsPicksDesktop1x.jpg"
							alt="Mountains" style="width: 100%"></a>
						<div class="card-block">
							<h4 class="card-title"></h4>
							<p class="card-text"></p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<footer class="footer-distributed">
 
		<div class="footer-left">
 
		<h3>SPRINGIO<span></span></h3>
 
		<p class="footer-links">
		<a href="#">Home</a>
	·
		<a href="#">Blog</a>
	·
		<a href="#">Pricing</a>
	·
		<a href="#">About</a>
	·
		<a href="#">Faq</a>
	·
		<a href="#">Contact</a>
		</p>
 
		<p class="footer-company-name">SPRINGIO &copy; 2020</p>
		</div>
 
		<div class="footer-center">
 
		<div>
		<i class="fa fa-map-marker"></i>
		<p><span>123 DREAMER ST</span> NEW YORK, NEW YORK</p>
		</div>
 
		<div>
		<i class="fa fa-phone"></i>
		<p>+1 555 123456</p>
		</div>
 
		<div>
		<i class="fa fa-envelope"></i>
		<p><a href="mailto:support@company.com">contact@springio.com</a></p>
		</div>
 
		</div>
 
		<div class="footer-right">
 
		<p class="footer-company-about">
		<span>About the company</span>
	SPRINGIO is a private shopping web site &amp; a place where you can make money out of closet.
		</p>
 
		<div class="footer-icons">
 
		<a href="#"><i class="fa fa-facebook"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-linkedin"></i></a>
		<a href="#"><i class="fa fa-github"></i></a>
 
		</div>
 
		</div>
 
		</footer>

	<script type="text/javascript" th:src="@{/js/myslides.js}"></script>


</body>
</html>